.recipeCard {
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 3em;
}

.recipeEditFields {
    display: flex;
    flex-direction: row;
    width: 100px;
}

#recipe {
    display: flex;
    flex-direction: row;
}

.addIngredient {
    max-width: 20px;
    background-color: #ffffff;
}

.entryFields {
    display: flex;
    flex-direction: row;
}

input {
    margin-bottom: 0px;
}

button {
    margin-bottom: 1em;
    font-size: 2em;
}

.recipeTopDisplay {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.recipeIngredientsDisplay {
    margin-left: 10em;
    padding: .7em;
    min-width: 6em;
    max-width: fit-content;
    border-radius: 10%;
}

.recipeInstructionsDisplay {
    padding-left: .7em;
    background-color: #ffffff;
    min-width: 6em;
    max-width: fit-content;
    border-radius: 10%;
}

.recipeCardNotes {
    background-color: white;
    max-width: 20em;
}

.recipeCardTime {
    padding: .5em;
    padding-top: 0em;
    /* background-color: lightblue; */
    width: fit-content;
}

#cookBookSearch {
    font-size: 1em;
    background-color: white;
    max-width: fit-content;
    margin-bottom: 0px;
}

.cookBookSearchDiv {
    font-size: 2em;
    background-color: white;
    max-width: fit-content;
    margin-bottom: 4em;
}

.recipePrepCookTime {
    font-size: 3em;
}

.recipePrepCookTime2 {
    font-size: 4em;
}

.recipeInternale {
    padding-left: -.5em;
    font-size: 3em;
}

.entryTime {
    font-size: 2em;
}

.entryNotes {
    font-size: 2em;
}

.recipeSearchLabel {
    font-size: 2.5em;
}

#notes {
    min-width: 40em;
    font-size: 2em;
}

#pageName {
    width:fit-content;
    font-family: 'Fugaz one', cursive;
    
    font-size: 4em;
    background: linear-gradient( to left, rgba(116, 120, 123, 1), rgba(105, 78, 61, .7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: -2px -2px 1px rgba(140,119,92,.6);
}

