@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:wght@500&display=swap');

h1, h2 {
    font-family: 'Fugaz one', cursive;
    /* font-family: 'Montserrat', sans-serif; */
}

#mealPage {
    display: flex;
    flex-direction: row;
    flex-basis: 45%;
}

fieldset {
    width: 4em;
    display: flex;
    flex-direction: column;
    height: fit-content;

}

#mealList {
    
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#mealPageName{
  display: flex;
  flex-direction: row;
}
#mealListTitle {
  width:fit-content;
  font-family: 'Fugaz one', cursive;
  
  font-size: 4em;
  background: linear-gradient( to left, rgba(116, 120, 123, 1), rgba(105, 78, 61, .7));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: -2px -2px 1px rgba(140,119,92,.6);
}

.plate {
    display:flex;
    flex-basis: 30%;
    width: 10em;
    height: fit-content;
    background: white;
    margin: 1em;
    text-align: left;

    position: relative;
    box-sizing: border-box;
    padding: 33px (33px + 20);
    box-shadow: 
    /* Outer Plate Bevel */
    inset 0 5px 3px 0 rgba(255,255,255,.5), /* Top */
    inset 0 -5px 3px 0 rgba(0,0,0,.78), /* Bottom */
    inset 3px 0 2px 0 rgba(0,0,0,.25), /* Left */
    inset -3px 0 2px 0 rgba(0,0,0,.25), /* Right */
    
    /* Outer Plate Shadow */
    inset 0 5px 46px 0 rgba(0,0,0,.4),
    0 5px 13px 0 rgba(0,0,0,.75)
    ;

}

.mealContent {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mealEditRecipeSelect {
    display: flex;
    flex-direction: column;
}



body.react-confirm-alert-body-element {
    overflow: hidden;
  }
  
  .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(000, 000, 000, 0.8);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  }
  
  .react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
  }
  
  .react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .react-confirm-alert-body > h1 {
    margin-top: 0;
  }
  
  .react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .react-confirm-alert-button-group > button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  
  @-webkit-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.custom-ui h1, .custom-ui p{
    color:rgba(255,255,255,.5)
    
}

.mealRecipeLister{
  font-size: 3em;
  color: black;
}

select {
  font-size: 2em;
}

.mealRecipeEditName{
  font-size: 4em;
}

.editMealH1{
  font-size: 4em;
}

.mealEditMealNameInput {
  font-size: 2em;
}

.mealListMealName{
  font-size: 2em;
  margin-top: .5em;
  padding: 0px;
}

.mealSearchNameInput, .mealSearchNameLabel {
  font-size: 2em;
}

.mealListDiv{
  
  margin-top:1em;
}

#mealHolder{
  display: flex;
  justify-content: center;
}

.meal_holder_list{
  background-color:rgba(255,255,255,.5);
}