#eventPlannerTitle {
    background-color: #F2bf27 ;
}

#eventsList, #historicEvents {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: fit-content;
    padding-left:10px;
    padding-right: 10px;
}

#eventsBody {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

button {
    margin-bottom: 3em;}