:root{
    --border-color: blue;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}
.SpotLightTimes {
    border: dashed 2px var(--border-color);

}
.spotLightNotes {
    height: fit-content;
    font-weight: bold;
    font-size: 1em;
    background-color: #5BA9D9;
    color: black;
    margin-bottom: .5em;
    border:dashed 2px var(--border-color)
}
.spotLightNotes div {
    font-weight: bold;
    font-size: 2em;
    color: black
}
.prepCookTimes {
    background-color: white;
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    background-color: tomato;
}

.ingredient-Instruction-Spot-Light {
    font-weight: bold;
    font-size: 2em;
    /* background-color: violet; */
    width: 10em;

}
li {
    margin-top: .5em;
}

.spotlight-recipe-instruct-ingred {
    /* background-color: #F2bF27; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-bottom: 4em;
}
/* Spot light text main page */
.spotLightH2 {
    width: fit-content;
    font-family: 'Fugaz one', cursive;
    font-size: 4em;
    background: linear-gradient( to left, rgba(116, 120, 123, 1), rgba(105, 78, 61, .7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: -2px -2px 1px rgba(140, 119, 92, .6);
    margin:auto;
}



.eventTilePlanner {
    font-size: 2em;
    background-color: black;
}

.spotLightLister{
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    flex-basis: 30%;
    justify-content:space-evenly;
    width: fit-content;
}

/* display containter behind recipe children */
.spotLighDisplay{
    width: fit-content;
}


.spotLightContainer{
    display: flex;
    
align-self: center;
background-color: rgba(98,166,117,.5);
width: fit-content;
}

/* Date being displayed */
.eventDatePlanner{
    margin: auto;
}
.eventDatePlanner div{
    
    margin: auto;
}
.spot_ligh_meal_name{
    display:flex;
    /* flex-direction: row; */
    /* margin-left: 20%; */
    align-self: center;
    /* background-color: purple; */
    width: fit-content;
    overflow-y: hidden;
    border-bottom: solid 10px blue;
}

.spot_ligh_recipe_name_above{
    font-size: 2em;
}

.empty_spot_light_splash{
    font-size: 5em;
    font-weight: bold;
}
.empty_spot_light_splash:hover{
    color:blue;
}

